<!DOCTYPE HTML>

<html>
	<head>
		<title>COVID-19 Density Calculator</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="box">
      <img src= "https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.gannett-cdn.com%2Fpresto%2F2020%2F07%2F30%2FPPHX%2F976991f1-26a3-4f91-8663-cb34744f190a-Roger_Arizona_Humane_Society.jpg%3Fcrop%3D4203%2C2365%2Cx0%2Cy388%26width%3D3200%26height%3D1801%26format%3Dpjpg%26auto%3Dwebp&imgrefurl=https%3A%2F%2Fwww.azcentral.com%2Fstory%2Fentertainment%2Fpets%2F2020%2F07%2F31%2Freincarnation-grumpy-cat-kitten-adopted-phoenix-arizona-humane-society-pets%2F5551701002%2F&tbnid=IsNqIjbxzy2wPM&vet=12ahUKEwiQ6sfTtKrsAhWEDt8KHetGCF8QMyg7egQIARAo..i&docid=V83PRldZ3N8SDM&w=3200&h=1801&q=cat&ved=2ahUKEwiQ6sfTtKrsAhWEDt8KHetGCF8QMyg7egQIARAo"/>
    <h1>Splash</h1>
    <h2>Cute face</h2>
    <h3>Cute paws</h3>
    <a target="_blank"
    href="https://www.youtube.com/channel/UCkp5r6W5DQuCYfIQZ3DQowg?view_as=subscriber"> Splash's Youtube </a>
  <div>



    <script src="script.js"></script>
  </body>
</html>

